azure-functions
brotli==1.0.9
certifi
cryptography==3.4.7
Cython==0.29.24
docutils==0.17.1
importlib_metadata==4.6.4
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
numpy==1.21.1
ordereddict==1.1
protobuf==3.17.3
psycopg2-binary
pyOpenSSL==20.0.1
sendgrid==6.8.0
tornado==6.1
urllib3==1.25.9
wincertstore
zipp==3.5.0
